<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="turtle_model_name" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="-0.5"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="model" default="$(find sim1_lecture)/xacro/dtw_robot3.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model dtw_robot"/>

    <rosparam command="load" file="$(find sim1_lecture)/config/diff_drive_controller.yaml" ns="/dtw_robot"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          ns="/dtw_robot" args="diff_drive_controller"/>

    <param name="turtle_robot_description"
           command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg turtle_model_name).urdf.xacro"/>
    <node pkg="gazebo_ros" type="spawn_model" name="turtle_spawn_urdf"
          args="-urdf -model turtlebot3_$(arg turtle_model_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param turtle_robot_description"/>


</launch>
